@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top{
        width: 375px; 
        height: 735px;
        background: url(img/mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .h_header{
        width: 343px; ;
        height: 257.61px;
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        width: 320px;
        padding-left: 0;
        padding-top: 238px;
        font-size: 28px;
        font-weight: 900;
        line-height: 39px;
        text-align: center;
        }   
    .paragraph {
        width: 320px;
        padding-left: 0;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }    
    .knopka {
        width: 234.06px;
        height: 48px;
        padding-left: 0;
        margin-left: 16px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000000;
        border-radius: 30px;
        color: white;
        background: darkred;
      }
    .img{
        width: 375px ;
        height: 1221px;
        padding-top: 128px;
        padding-bottom: 128px;
        background-color:#000915;
        column-gap: 16px;
        row-gap: 16px;
        }
    .game1{
        width:343px;
        height: 300px;
        padding-top: 0px;
        padding-left: 16px;
    }
    .game2{
        width:343px;
        height: 300px;
        padding-top: 0px;
        padding-left: 16px;
    }
    .game3{
        width:343px;
        height: 300px;
        padding-top: 0px;
        padding-left: 16px;
    }
}


